.skill-icons-title{

    width: 50%;

}

/* .skill-icons-title > p >span{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    background: linear-gradient(4deg, #BFA0FF 24.92%, #D8CDEE 56.76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.skill-icons-box-fc{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.skill-icons-box > h5{
    font-size: 18px;
    margin: 5px 0;
}
.skill-icons-box{
  width: 27%;
  height: 150px;
  padding: 30px; 
  border-radius: 5px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  backdrop-filter: blur(20px);
  mask-image: linear-gradient(90deg,rgb(7, 7, 9),#070709 15.77%,#070709 33%,rgba(0, 0, 0, 0));
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(-50deg,rgba(35, 35, 35, 0) 0,rgba(117, 117, 117, 0.11) 100%);
  transition:0.2s linear;
}

.skill-icons-box:hover{
  cursor: pointer;
   background: linear-gradient(-50deg,rgba(255, 255, 255, 0) 0,rgba(255, 255, 255, 0.11) 100%) ;
     box-shadow: rgb(0, 0, 0,0.3) -153px 0px 117px;
     border: 1px solid rgba(255, 255, 255, 0.52);
     mask-image: none;
     transform: translateX(-10px);
}

.skill-icons-w-fc{
    width: auto;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.fade-in-top {
    opacity: 0;
    transform: translateY(50px); 
    animation: fadeInTop 1s ease-in-out forwards; 
  }
  .skill-icon-section-fw-bg{
    padding: 50px 0;
    background: linear-gradient(#000000, rgba(0,0,0,0));
    background-image: radial-gradient(46.99% 50.05% at 2.58% 100%,rgba(0, 0, 0, 0) 0,#0000 100%),radial-gradient(55.18% 87% at 50% 7%,rgba(14, 4, 36, 0.69) 0,#19124e00 100%);
  }
  
  @keyframes fadeInTop {
    0% {
      opacity: 0;
      transform: translateY(50px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
  }