.contact-homepage-section{
    text-align: left;
    width: 40%;
    /* margin: 300px auto 75px auto;  */
}

.a-tag-url-container{
    margin-top: 35px;
}

.contact-homepage-img-container{
    text-align: center;
    position: relative;
    height: 500px;
}
.contact-homepage-section-fc{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}
.contact-image-one{
    position: absolute;
    width: 350px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    animation: messsageFloatAnimationOne 5s infinite;
}


.contact-image-two{
    position: absolute;
    width: 200px;
    left: 700px; 
    right: 0; 
    top: 50px;
    margin-left: auto; 
    margin-right: auto; 
    transform: rotate(20deg);
    animation: messsageFloatAnimationTwo 90s infinite;
    

}
.contact-form-message  input
{
    font-family: 'DM Sans', sans-serif;
  padding: 12px;
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  border: 0.5px solid #ffffff21;
  margin-bottom: 25px;
  margin-top: 10px;
  color: white;
}
.contact-form-message  textarea
{
    font-family: 'DM Sans', sans-serif;
  padding: 12px;
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  border: 0.5px solid #ffffff21;
  margin-bottom: 25px;
  margin-top: 10px;
  color: white;
  min-height: 200px;
}
.contact-form-flex-row
{
  display: flex;
  justify-content: space-between;
}

.contact-form-message{
    width: 55%;
}
.contact-form-flex-row div{
    width: 45%;
}

.contact-image-three{
    position: absolute;
    width:140px;
    left: 0px; 
    top: 80px;
    right:630px; 
    margin-left: auto; 
    margin-right: auto; 
    transform: rotate(-30deg);
    animation: messsageFloatAnimationThree 120s infinite;
}

.contact-image-four{
    position: absolute;
    width: 104px;
    left: 0px;
    top: 233px;
    right: 440px;
    margin-left: auto;
    margin-right: auto;
    animation: messsageFloatAnimationFour 20s infinite;
    z-index: -10;
    opacity: 0.4;
    transform: scale(0.3);
}
.contact-form-button {
    cursor: pointer;
    width: 100%;
    /* padding: 12px; */
}
.contact-form-button button{
    cursor: pointer;
    width: 104%;
    padding: 15px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}

.contact-homepage-section-fc-all{
    position: relative;
}

.title-contact-background
{
  position: absolute;
  width: 20px;
  top: -140px;
  right: 1303px;
  z-index: -10;
}
.title-contact-background img
{
    width: 500px;
}
@keyframes messsageFloatAnimationOne{
    0%{
        transform: translateY(0px);

    }
    50%{
        transform: translateY(42px);

    }
    100%{
        transform: translateY(0px);

    }
}

@keyframes messsageFloatAnimationTwo{
    0%{
        transform: translateY(0px);
        transform: rotate(0);
    }
    50%{
        transform: translateY(12px);
        transform: rotate(360deg);
    }
    100%{
        transform: translateY(0px);
        transform: rotate(0);
    }
}

@keyframes messsageFloatAnimationThree{
    0%{
        transform: translateY(0px);
        transform: rotate(0);
    }
    50%{
        transform: translateY(12px);
        transform: rotate(360deg);
    }
    100%{
        transform: translateY(0px);
        transform: rotate(0);
    }
}


@keyframes messsageFloatAnimationFour{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(25px);

    }
    100%{
        transform: translateY(0px);
    }
}