.focus-screen-container{
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #04060C;
    border-radius: 10px;
    border: double 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(to top, #040300a3, #000000f7), radial-gradient(circle at top, #e6b700,#ff950c00);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.focus-screen-image-box > a >img{
    width: 500px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.focus-screen-text-box{
    width: 45%;
}

.focus-screen-text-box > h3  {
   margin-top: 20px;
}

.carousel-slide-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    margin-bottom: 70px;
    position: relative;

}
.carousel-slide-container > div  {
    width:18%;

   
}
.carousel-slide-container > div > div {
    width:100%;
    height: 150px;
}

.focus-screen-relating-box ul{
    display: flex;
  justify-content: flex-start;
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}
.focus-screen-relating-box ul li{
   margin-right: 20px;
   text-transform: uppercase;
   font-size: 12px;
   letter-spacing: 0.2em;
   opacity: 0.5;
}

.selected-slide{
    transition: all 400ms ease-in-out;
}


.selected-slide >div{
    outline: 2px solid white;
    opacity: 1 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.45) 0px -2px 6px 0px inset;
    transition: all 100ms ease-in-out;

  
}

.prev-slide, .next-slide{
    position: absolute;
}

.prev-slide img, .next-slide img{
    width: 60px;
    height: auto;
    cursor: pointer;
}

.prev-slide{
    left: -30px;
}
.next-slide{
    right: -185px;
}


.revealAnimation{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  .revealAnimation.active{
    transform: translateY(0);
    opacity: 1;
  }



