.resumeBoard-container {
  display: flex;
  background-color: #131313;
  margin: 8vh auto;
  opacity: 0;
}

.resumeBoard-box-1 {
  width: 50%;
  display: flex;
  flex-flow: column;
  gap: 20px;
    padding: 50px;
      border-right: 1px solid #262626;
}

.resumeBoard-box-2 {
  width: 50%;
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 50px;
  opacity: 0;
  background-image: radial-gradient(46.99% 43.05% at 2.58% 100%,rgba(81, 81, 81, 0.4) 0,#0000005e 100%),radial-gradient(55.18% 55.16% at 12.42% -3.42%,rgba(60, 60, 60, 0.44) 0,#2700ca0d 100%);
}
.experience h3 {
  font-size: 18px;
  font-weight: 300;
  padding-top: 25px;
 border-top: 1px solid #ffffff1f;
  margin-top: 25px;
  
}
.experience h3:first-child {
 border-top: 0px solid #ffffff1f;
  padding-top: 0px;
}
.profile h2 {
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.experience-team span {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.education h3 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px;
}

.technical-skill h3{
    font-size: 18px;
  font-weight: 300;
  margin-top: 25px;
}
.skill-ball img {
  display: flex;
  width: 38px;
  height: 38px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.skill-ball {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.technical-skill {
  border-top: 1px solid #ffffff1f;
}

.stay-connect h3{
    font-size: 18px;
  font-weight: 300;
  padding-top: 25px;
 border-top: 1px solid #ffffff1f;
  margin-top: 25px;
}


