.menu-link-container{
    display: flex;
    list-style-type: none;
    margin: 12px 0px;
    padding: 0 17px;
    gap: 10px;
}
.menu-link-container li {
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-selected-item a{
   opacity:1 !important;
}

.menu-link-container > li > a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform:uppercase;
  opacity:0.67;
  cursor:pointer;
}