.intro-section-container {
  width: 50%;
  margin: auto;
}

.hero-section {
  display: flex;
  justify-content: center;
  padding: 15vh;
}

.heng-img-hero-hp {
  display: flex;
  width: 32%;
}
.intro-section-container h2 {
  font-weight: 300;
  font-size: 42px;
  margin: 15px 0;
}
.intro-section-container p {
  line-height: 32px;
}
.intro-card{
  background-color: red;
  
}
.intro-section .swiper{
  padding: 35px 5%;
}

.swiper-wrapper .intro-card img {
  width: 100%;
  margin-top: 25px;
  display: block;
}
.swiper-wrapper .intro-card.work {
  border: 1px solid #ffffff2e;
  background-color: transparent;
  border-radius: 17px;
  overflow: hidden;
  /* max-height: 480px; */
}

.swiper .intro-card h3 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 15px;
}


.hero-bg-hp {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
 background: radial-gradient( ellipse at top, #5B508A8A 0%, #2ca0bd00 35%, #0000 100% );
}

.skill-marquee {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(90deg,rgba(7,7,9,0),#070709 15.77%,#070709 86.73%,rgba(7,7,9,0));
}

.skill-track {
  display: flex;
  width: max-content;
  animation: scroll-right 25s linear infinite;
}

.skill-ball-hp {
  display: flex;
  gap: 15px;
  padding-right: 15px;
  margin: 32px 0;
}

.skill-ball-hp img {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}















