body{
    background-color: #04060C !important;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

h1,h2,h3,h4{
    font-family: 'Archivo', sans-serif;  
}

h3{
    font-size: 35px;
    margin: 10px 0;
}
p{
    margin: 5px 0;
    line-height: 1.618em;
}
.site-width-container{
    margin: 0 auto;
    min-width: 1200px;
    max-width:1200px ;
}
.navigation-container{
    padding: 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.377);
}
