body{
    background-color: #04060C !important;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

h1,h2,h3,h4{
    font-family: 'Archivo', sans-serif;  
}

h3{
    font-size: 35px;
    margin: 10px 0;
}
p{
    margin: 5px 0;
    line-height: 1.618em;
}
.site-width-container{
    margin: 0 auto;
    min-width: 1200px;
    max-width:1200px ;
}
.navigation-container{
    padding: 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.377);
}

.highlight-tag-box-style{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 3px;
    border: 0.2px solid #09060600;
  background: #281948;
    background-image: none;
    background-origin: padding-box;
    background-clip: border-box;
    background-image: linear-gradient(to top, #7445bba3, #14044ff7), radial-gradient(circle at top, #ab94ff,#e2ddf40d);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

